<form class="admin-tabs" {{action "onSubmitRestaurant" on="submit"}}>
  {{#bs-tab as |tab|}}
    {{#tab.pane title="Basic Details"}}
      <div class="admin-form">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <h1 class="admin-from-title">
                  Add Logo
                </h1>
                <div
                  class="admin-form-image-profile"
                  style={{profileImageStyle}}
                >
                  <label class="image-upload-label" for="profileImageUpload">
                    {{#if profileImageUploadProgress}}
                      <p class="image-upload-progress">
                        Uploading:
                        {{profileImageUploadProgress}}
                        %
                      </p>
                    {{/if}}
                    {{fa-icon "cloud-upload"}}
                    Upload Logo
                  </label>
                  {{misc/file-uploader
                    id="profileImageUpload"
                    url="/api/v1/file/upload"
                    restaurantId=model.restaurant.id
                    imageFor="profile"
                    progress=profileImageUploadProgress
                    onFinishedUpload=(action "onProfileImageUploaded")
                  }}
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <h1 class="admin-from-title">
                  Price Range
                </h1>
                {{misc/range-selection
                  priceRange=restaurant.priceRange
                  onPriceRangeChanged=(action "onPriceRangeChanged")
                  class="pricerange-control"
                }}
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <h1 class="admin-from-title">
              Add Cover Photo
            </h1>
            <div class="admin-form-image-cover" style={{coverImageStyle}}>
              <label class="image-upload-label" for="coverImageUpload">
                {{#if coverImageUploadProgress}}
                  <p class="image-upload-progress">
                    Uploading:
                    {{coverImageUploadProgress}}
                    %
                  </p>
                {{/if}}
                {{fa-icon "cloud-upload"}}
                Upload Cover Photo
              </label>
              {{misc/file-uploader
                id="coverImageUpload"
                url="/api/v1/file/upload"
                restaurantId=model.restaurant.id
                imageFor="cover"
                progress=coverImageUploadProgress
                onFinishedUpload=(action "onCoverImageUploaded")
              }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            {{input
              class="form-input"
              type="text"
              placeholder="Restaurant Name"
              value=model.restaurant.name
              required="required"
            }}
          </div>
          <div class="col-xs-12 col-sm-6">
            {{misc/city-selection onChange=(action "onCitySelected")}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            {{textarea
              class="form-input"
              type="text"
              placeholder="Description"
              value=model.restaurant.description
              required="required"
            }}
          </div>
          <div class="col-xs-12 col-sm-6 small-map">
            {{misc/google-map
              marker=marker
              polygon=polygon
              defaultMerkerPosition=defaultMerkerPosition
              bounds=model.restaurant.city.bounds
              markerLat=model.restaurant.latitude
              markerLng=model.restaurant.longitude
              editableMarker=true
            }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            {{input
              class="form-input"
              type="text"
              placeholder="Address"
              value=model.restaurant.address
            }}
          </div>
          <div class="col-xs-12 col-sm-6">
            {{input
              class="form-input"
              type="text"
              placeholder="Phone"
              required="required"
              value=model.restaurant.phone
            }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            {{input class="form-input" type="time" value=openTime}}
            {{input class="form-input" type="time" value=closeTime}}
          </div>
          <div class="col-xs-12 col-sm-6"></div>
        </div>
        <div class="row">
          <div class="col-xs-12" style="text-align: right">
            {{#link-to
              "admin.restaurants"
              class="form-button form-button-small form-button-grey"
            }}
              Cancel
            {{/link-to}}
            <button class="form-button form-button-small" type="submit">
              {{if model.isEdit "Edit" "Add"}}
              Restaurant
            </button>
          </div>
        </div>
      </div>
    {{/tab.pane}}
    {{#tab.pane title="Cuisines"}}
      <div class="admin-form">
        {{#multiselect-checkboxes
          class="hidden-chackboxes"
          options=cuisines
          selection=selectedCuisines as |cuisine isSelected|
        }}
          <li>
            <label class="{{if isSelected "active"}}">
              {{input type="checkbox" checked=isSelected}}
              {{cuisine}}
            </label>
          </li>
        {{/multiselect-checkboxes}}
        <div class="row">
          <div class="col-xs-12" style="text-align: right">
            {{#link-to
              "admin.restaurants"
              class="form-button form-button-small form-button-grey"
            }}
              Cancel
            {{/link-to}}
            <button class="form-button form-button-small" type="submit">
              {{if model.isEdit "Edit" "Add"}}
              Restaurant
            </button>
          </div>
        </div>
      </div>
    {{/tab.pane}}
    {{#tab.pane title="Tables"}}
      <div class="admin-form">
        <h1 class="admin-from-title">
          Tables
        </h1>
        <button class="admin-from-new-button grey" {{action "onAddTable"}}>
          Add Table
        </button>
        <div class="row">
          {{#each model.restaurant.tables as |table index|}}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <label class="table-box">
                <span>
                  {{increment-value index}}
                  .
                </span>
                Table for
                {{input type="number" min=1 max=8 value=table.numberOfChairs}}
                People
                <button {{action "onRemoveTable" table}}>
                  {{fa-icon "trash"}}
                </button>
              </label>
            </div>
          {{/each}}
        </div>
        <div class="row">
          <div class="col-xs-12" style="text-align: right">
            {{#link-to
              "admin.restaurants"
              class="form-button form-button-small form-button-grey"
            }}
              Cancel
            {{/link-to}}
            <button class="form-button form-button-small" type="submit">
              {{if model.isEdit "Edit" "Add"}}
              Restaurant
            </button>
          </div>
        </div>
      </div>
    {{/tab.pane}}
    {{#tab.pane title="Menu"}}
      {{#bs-tab as |tab|}}
        {{#tab.pane title="Breakfast"}}
          {{#each model.restaurant.menu.breakfast as |item index|}}
            <div class="row">
              <div class="col-xs-1 menu-enum">
                {{increment-value index}}
                .
              </div>
              <div class="col-xs-11">
                <div class="row">
                  <div class="col-xs-12">
                    {{input
                      type="text"
                      value=item.name
                      placeholder="Name"
                      class="menu-input"
                    }}
                    <span class="menu-price-sign">
                      $
                    </span>
                    {{input
                      type="number"
                      value=item.price
                      placeholder="Price"
                      class="menu-input"
                      step="0.01"
                      min=0
                    }}
                    <button {{action "onRemoveBreakfastItem" item}}>
                      {{fa-icon "trash"}}
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    {{input
                      type="text"
                      value=item.description
                      placeholder="Description"
                      class="menu-input"
                    }}
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
          <button class="menu-add-button" {{action "onAddMenuBreakfast"}}>
            Add Item
          </button>
        {{/tab.pane}}
        {{#tab.pane title="Lunch"}}
          {{#each model.restaurant.menu.lunch as |item index|}}
            <div class="row">
              <div class="col-xs-1 menu-enum">
                {{increment-value index}}
                .
              </div>
              <div class="col-xs-11">
                <div class="row">
                  <div class="col-xs-12">
                    {{input
                      type="text"
                      value=item.name
                      placeholder="Name"
                      class="menu-input"
                    }}
                    <span class="menu-price-sign">
                      $
                    </span>
                    {{input
                      type="number"
                      value=item.price
                      placeholder="Price"
                      class="menu-input"
                      step="0.01"
                      min=0
                    }}
                    <button {{action "onRemoveLunchItem" item}}>
                      {{fa-icon "trash"}}
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    {{input
                      type="text"
                      value=item.description
                      placeholder="Description"
                      class="menu-input"
                    }}
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
          <button class="menu-add-button" {{action "onAddMenuLunch"}}>
            Add Item
          </button>
        {{/tab.pane}}
        {{#tab.pane title="Dinner"}}
          {{#each model.restaurant.menu.dinner as |item index|}}
            <div class="row">
              <div class="col-xs-1 menu-enum">
                {{increment-value index}}
                .
              </div>
              <div class="col-xs-11">
                <div class="row">
                  <div class="col-xs-12">
                    {{input
                      type="text"
                      value=item.name
                      placeholder="Name"
                      class="menu-input"
                    }}
                    <span class="menu-price-sign">
                      $
                    </span>
                    {{input
                      type="number"
                      value=item.price
                      placeholder="Price"
                      class="menu-input"
                      step="0.01"
                      min=0
                    }}
                    <button {{action "onRemoveDinnerItem" item}}>
                      {{fa-icon "trash"}}
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    {{input
                      type="text"
                      value=item.description
                      placeholder="Description"
                      class="menu-input"
                    }}
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
          <button class="menu-add-button" {{action "onAddMenuDinner"}}>
            Add Item
          </button>
        {{/tab.pane}}
      {{/bs-tab}}
      <div class="row">
        <div class="col-xs-12" style="text-align: right">
          {{#link-to
            "admin.restaurants"
            class="form-button form-button-small form-button-grey"
          }}
            Cancel
          {{/link-to}}
          <button class="form-button form-button-small" type="submit">
            {{if model.isEdit "Edit" "Add"}}
            Restaurant
          </button>
        </div>
      </div>
    {{/tab.pane}}
  {{/bs-tab}}
</form>