<div id="wrap" class="white-wrapeer">
  {{#navigation/home-navigation
    type="homepage"
  }}
    <h1>
      Make a free reservation
    </h1>
    <h3>
      Choose a table from
      {{bootstrap.restaurantsInfo.numberOfRestaurants}}
      restaurants near you
    </h3>
    <form
      class="search-box table-search-box"
      {{action "onFindTable" on="submit"}}
    >
      <label for="search">
        {{fa-icon "search"}}
      </label>
      {{input
        id="search"
        class="search-textbox"
        placeholder="Location, Restaurant or Cousine"
        value=restaurant_name
      }}
      <select
        class="index-table-search-input"
        id="numberOfPeople"
        {{action "setNumberOfPeople" on="change"}}
      >
        <option value="1">
          1 Person
        </option>
        <option value="2" selected>
          2 People
        </option>
        <option value="3">
          3 People
        </option>
        <option value="4">
          4 People
        </option>
        <option value="5">
          5 People
        </option>
        <option value="6">
          6 People
        </option>
        <option value="7">
          7 People
        </option>
        <option value="8">
          8 People
        </option>
      </select>
      {{input
        class="index-table-search-input"
        id="date"
        type="date"
        value=date
        required="required"
      }}
      {{input
        id="time"
        class="index-table-search-input"
        type="time"
        value=time
        required="required"
      }}
      <button class="table-search-button" type="submit">
        Find a table
      </button>
    </form>
    {{#if errorMessage}}
      <p>
        {{errorMessage}}
      </p>
    {{/if}}
  {{/navigation/home-navigation}}
  <div id="main">
    {{home-near-by-restaurants}}
    {{home-popular-restaurants}}
    {{home-popular-locations}}
  </div>
</div>